$size_xl : 1440px;
$main_color: #151515;
$inter : 'Inter';
$opacity : .75;
$transition: .3s;
$backgroude_black: #333333;
.black-theme{
    background: $backgroude_black;
    *{
      color: #FFFFFF;
      background: $backgroude_black;
    }
    .page__padding{
      background: $backgroude_black;
    }
    .page{
      background: $backgroude_black;
    }
    .face__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
    .drive__prof{
      color:#E5E5E5;
      opacity: .7;
    }
    .types__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
    .bikes__text{
      color: #FFFFFF;
    }
    .bikes__indicator{
      color: #FFFFFF;
    }
    .bikes__link{
      color: #FFFFFF;
    }
    .bikes__links{
      color: #FFFFFF;
    }
    .training__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
    .slider__indicator {
      @media screen and (max-width:480px){
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.4' width='10' height='10' rx='5' fill='%23AAAAAA'/%3E%3C/svg%3E%0A");
      }
    }
    .slider__indicator_active {
      @media screen and (max-width:480px){
        width: 29px;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='10' viewBox='0 0 29 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='29' height='10' rx='5' fill='%2377C5D5'/%3E%3C/svg%3E%0A");
        }
      }
      .bikes__indicators {
        @media screen and (max-width:480px){
          max-width: 66px;
        }
      }
  }