.footer_darck{
    background: #2F2F2F;
    .footer__form-button{
      background: #2F2F2F;
    }
    .footer__icon{
      background: #2F2F2F;
    }
    .footer__switch-box{
      background: #2F2F2F;
    }
    .footer__name{
      background: #2F2F2F;
    }
    .footer__form{
      background: #2F2F2F;
    }
    .footer__forms{
      background: #2F2F2F;
    }
    .footer__title{
      background: #2F2F2F;
    }
  }
  