$size_xl : 1440px;
$main_color: #151515;
$inter : 'Inter';
$opacity : .75;
$transition: .3s;
$backgroude_black: #333333;
.black-theme{
    background: $backgroude_black;
    *{
      color: #FFFFFF;
      background: $backgroude_black;
    }
    .page__padding{
      background: $backgroude_black;
    }
    .page{
      background: $backgroude_black;
    }
    .face__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
    .drive__prof{
      color:#E5E5E5;
      opacity: .7;
    }
    .types__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
    .bikes__text{
      color: #FFFFFF;
    }
    .bikes__indicator{
      color: #FFFFFF;
    }
    .bikes__link{
      color: #FFFFFF;
    }
    .bikes__links{
      color: #FFFFFF;
    }
    .training__subtitle{
      color:#E5E5E5;
      opacity: .7;
    }
  }