@charset "UTF-8";
* {
  background: #F4F4F4;
  color: #151515;
  text-decoration: none;
  margin: 0;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F4F4F4;
}
.page__padding {
  background-color: #F4F4F4;
  max-width: 1440px;
  padding-left: 120px;
  padding-right: 120px;
}
@media screen and (max-width: 1150px) {
  .page__padding {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .page__padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 420px) {
  .page__padding {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.page__position {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.black-theme {
  background: #333333;
}
.black-theme * {
  color: #FFFFFF;
  background: #333333;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  height: 74px;
}
@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }
}
.header__list {
  min-width: 400px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .header__list {
    min-width: 340px;
  }
}
@media screen and (max-width: 590px) {
  .header__list {
    min-width: 290px;
  }
}
@media screen and (max-width: 480px) {
  .header__list {
    display: none;
  }
}
.header__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 34px;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 1000px) {
  .header__link {
    font-size: 12px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 590px) {
  .header__link {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header__link {
    font-size: 18px;
    line-height: 18px;
  }
}
.header__link:last-of-type {
  margin-right: 0;
}
.header__link:hover {
  opacity: 0.75;
}
@media screen and (max-width: 480px) {
  .header__burger-menu {
    box-sizing: border-box;
    position: relative;
    display: block;
    cursor: pointer;
    width: 24px;
    height: 18px;
    z-index: 10;
    margin: 20px 0 0;
    padding: 0;
  }
  .header__burger-menu ::before {
    position: absolute;
    left: 0;
    width: 22px;
    height: 2.5px;
    background-color: #151515;
    content: "";
    top: 240%;
  }
  .header__burger-menu ::after {
    position: absolute;
    left: 0;
    width: 22px;
    height: 2.5px;
    background-color: #151515;
    content: "";
    bottom: 240%;
  }
}
.header__burger-menu_active {
  left: 0;
  font-weight: 700;
}
.header__menu {
  display: none;
}
@media screen and (max-width: 480px) {
  .header__menu {
    box-sizing: border-box;
    display: flex;
    width: 65%;
    margin: auto;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .header__burger-line {
    position: absolute;
    left: 0;
    width: 22px;
    height: 2.5px;
    background-color: #151515;
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}
.header__button-close {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 16px;
  right: 37px;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  z-index: 20;
}
@media screen and (max-width: 420px) {
  .header__button-close {
    right: 15px;
  }
}
.header__buttons_active {
  display: block;
  z-index: 10000;
}
@media screen and (max-width: 480px) {
  .header__menu-сontainer {
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
    background-color: #F4F4F4;
  }
}
.header__link-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  /* margin-top: 30px; */
  z-index: 50;
  list-style-type: none;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 142px 0 0 10px;
  padding: 0;
  background-color: #F4F4F4;
}
.header__link-item {
  display: inline-block;
  font-size: 0;
  background-color: #F4F4F4;
}
.header__burger-menu_active {
  left: 0;
  font-weight: 700;
}

.face {
  max-height: 736px;
  position: relative;
}
.face__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  max-width: 304px;
  margin-top: 80px;
}
@media screen and (max-width: 1150px) {
  .face__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .face__title {
    font-size: 42px;
    max-width: 250px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .face__title {
    font-size: 40px;
    max-width: 220px;
    line-height: 52px;
  }
}
@media screen and (max-width: 713px) {
  .face__title {
    font-size: 35px;
    max-width: 200px;
    line-height: 48px;
  }
}
@media screen and (max-width: 590px) {
  .face__title {
    font-size: 28px;
    max-width: 150px;
    line-height: 35px;
    margin-top: 14px;
  }
}
@media screen and (max-width: 390px) {
  .face__title {
    font-size: 32px;
    line-height: 40px;
    max-width: 180px;
  }
}
.face__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  max-width: 460px;
  margin-top: 50px;
}
@media screen and (max-width: 1150px) {
  .face__subtitle {
    font-size: 16px;
    max-width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .face__subtitle {
    font-size: 14px;
    max-width: 283px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .face__subtitle {
    font-size: 12px;
    max-width: 283px;
    line-height: 25px;
  }
}
@media screen and (max-width: 713px) {
  .face__subtitle {
    font-size: 10px;
    max-width: 250px;
    line-height: 20px;
  }
}
@media screen and (max-width: 590px) {
  .face__subtitle {
    font-size: 8px;
    max-width: 173px;
    line-height: 13px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 467px) {
  .face__subtitle {
    max-width: 156px;
  }
}
@media screen and (max-width: 390px) {
  .face__subtitle {
    max-width: 100%;
    margin-top: 347px;
    font-size: 12px;
    line-height: 18px;
  }
}
.face__button {
  padding: 0;
  border: none;
  font: inherit;
  background: #24B47E;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "Inter";
  width: 180px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  color: white;
  background-image: linear-gradient(#319E75, #319E75);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s, color 0.5s;
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 1000px) {
  .face__button {
    margin-top: 30px;
  }
}
@media screen and (max-width: 713px) {
  .face__button {
    width: 150px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 590px) {
  .face__button {
    width: 120px;
    height: 30px;
    font-size: 10px;
    margin-top: 20px;
  }
}
.face__button:hover {
  background-size: 100% 100%;
}
.face__features {
  display: flex;
  position: absolute;
  top: 370px;
}
@media screen and (max-width: 713px) {
  .face__features {
    top: 278px;
  }
}
@media screen and (max-width: 590px) {
  .face__features {
    top: 191px;
  }
}
@media screen and (max-width: 467px) {
  .face__features {
    top: 225px;
  }
}
@media screen and (max-width: 390px) {
  .face__features {
    top: 595px;
  }
}
.face__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin: 167px 30px 0 0;
}
@media screen and (max-width: 1150px) {
  .face__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .face__text {
    margin: 55px 20px 0 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 713px) {
  .face__text {
    font-size: 11px;
  }
}
@media screen and (max-width: 590px) {
  .face__text {
    font-size: 8px;
  }
}
@media screen and (max-width: 467px) {
  .face__text {
    margin: 21px 6px 0 0;
  }
}
@media screen and (max-width: 390px) {
  .face__text {
    display: none;
  }
}
.face__line {
  margin-top: 176px;
  border-bottom: 3px;
  width: 132px;
  background-color: #D7D4D4;
  height: 2px;
}
@media screen and (max-width: 1150px) {
  .face__line {
    width: 125px;
  }
}
@media screen and (max-width: 1000px) {
  .face__line {
    margin-top: 65px;
    width: 90px;
  }
}
@media screen and (max-width: 590px) {
  .face__line {
    width: 70px;
  }
}
@media screen and (max-width: 467px) {
  .face__line {
    margin-top: 30px;
    width: 60px;
  }
}
@media screen and (max-width: 390px) {
  .face__line {
    width: 90vw;
  }
}
.face__img {
  position: absolute;
  top: -68px;
  right: -120px;
  padding-top: 20px;
}
@media screen and (max-width: 1150px) {
  .face__img {
    max-width: 510px;
    max-height: 736px;
    right: -60px;
  }
}
@media screen and (max-width: 1000px) {
  .face__img {
    max-width: 410px;
    max-height: 636px;
    top: -50px;
  }
}
@media screen and (max-width: 769px) {
  .face__img {
    right: -40px;
    max-width: 380px;
    max-height: 610px;
  }
}
@media screen and (max-width: 713px) {
  .face__img {
    max-width: 316px;
  }
}
@media screen and (max-width: 590px) {
  .face__img {
    max-width: 250px;
    padding-top: 38px;
  }
}
@media screen and (max-width: 467px) {
  .face__img {
    max-width: 209px;
  }
}
@media screen and (max-width: 420px) {
  .face__img {
    right: -18px;
  }
}
@media screen and (max-width: 390px) {
  .face__img {
    top: 103px;
    padding-top: 0;
    right: 0;
  }
}
.face__sticky {
  max-width: 440px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: 60%;
  background: #F4F4F4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  border-radius: 20px;
  z-index: 10;
}
@media screen and (max-width: 1440px) {
  .face__sticky {
    bottom: 38%;
  }
}
@media screen and (max-width: 1150px) {
  .face__sticky {
    max-width: 290px;
    bottom: 40%;
  }
}
@media screen and (max-width: 1000px) {
  .face__sticky {
    max-width: 220px;
    bottom: 56%;
  }
}
@media screen and (max-width: 648px) {
  .face__sticky {
    max-width: 174px;
    bottom: 62%;
  }
}
@media screen and (max-width: 590px) {
  .face__sticky {
    bottom: 72%;
  }
}
@media screen and (max-width: 467px) {
  .face__sticky {
    bottom: 72%;
    max-width: 135px;
  }
}
@media screen and (max-width: 390px) {
  .face__sticky {
    position: absolute;
    bottom: 35%;
    left: 20%;
  }
}
@media screen and (max-width: 390px) {
  .face__simg_off {
    display: none;
  }
}
.face__sticky-img {
  border-radius: 20px;
}
@media screen and (max-width: 1150px) {
  .face__sticky-img {
    max-width: 340px;
    max-height: 164px;
  }
}
@media screen and (max-width: 1000px) {
  .face__sticky-img {
    max-width: 220px;
    max-height: 125px;
  }
}
@media screen and (max-width: 648px) {
  .face__sticky-img {
    max-width: 129px;
  }
}
@media screen and (max-width: 467px) {
  .face__sticky-img {
    max-width: 103px;
  }
}
@media screen and (max-width: 390px) {
  .face__sticky-img {
    max-width: 197px;
    max-height: 118px;
  }
}

.drive__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200.5px, 1fr));
  margin: 250px auto 60px 0;
}
@media screen and (max-width: 1150px) {
  .drive__container {
    margin: 200px auto 60px 0;
  }
}
@media screen and (max-width: 1000px) {
  .drive__container {
    margin: 122px auto 60px 0;
  }
}
@media screen and (max-width: 713px) {
  .drive__container {
    margin: 68px auto 0 0;
  }
}
@media screen and (max-width: 390px) {
  .drive__container {
    margin: 103px auto 0 0;
  }
}
.drive__img {
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .drive__img {
    margin: auto;
  }
}
.drive__text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 80px;
}
@media screen and (max-width: 1145px) {
  .drive__text-block {
    margin-left: 50px;
  }
}
@media screen and (max-width: 934px) {
  .drive__text-block {
    margin-left: 0;
    max-width: 350px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .drive__text-block {
    margin: auto;
    margin-top: 40px;
    max-width: 100%;
  }
}
.drive__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  max-width: 470px;
}
@media screen and (max-width: 1300px) {
  .drive__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1140px) {
  .drive__title {
    font-size: 26px;
    line-height: 35px;
  }
}
@media screen and (max-width: 934px) {
  .drive__title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 820px) {
  .drive__title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media screen and (max-width: 623px) {
  .drive__title {
    font-size: 15px;
    line-height: 22px;
  }
}
@media screen and (max-width: 555px) {
  .drive__title {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 480px) {
  .drive__title {
    font-size: 23px;
    line-height: 29px;
  }
}
@media screen and (max-width: 480px) {
  .drive__name-block {
    margin-top: 40px;
  }
}
.drive__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
@media screen and (max-width: 1300px) {
  .drive__name {
    font-size: 18px;
  }
}
@media screen and (max-width: 1140px) {
  .drive__name {
    font-size: 16px;
  }
}
@media sceen and (max-width: 934px) {
  .drive__name {
    font-size: 14px;
  }
}
@media screen and (max-width: 820px) {
  .drive__name {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 480px) {
  .drive__name {
    font-size: 14px;
    line-height: 40px;
  }
}
.drive__prof {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}
@media screen and (max-width: 1300px) {
  .drive__prof {
    font-size: 14px;
  }
}
@media screen and (max-width: 1140px) {
  .drive__prof {
    font-size: 12px;
  }
}
@media screen and (max-width: 934px) {
  .drive__prof {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .drive__prof {
    font-size: 10px;
    line-height: 16px;
  }
}

.types {
  display: flex;
}
.types__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
}
@media screen and (max-width: 1150px) {
  .types__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 700px) {
  .types__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 480px) {
  .types__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.types__subtitle {
  margin-top: 50px;
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
}
@media screen and (max-width: 1150px) {
  .types__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 700px) {
  .types__subtitle {
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .types__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 40px;
  }
}
.types__img_on {
  display: none;
}
@media screen and (max-width: 480px) {
  .types__img_on {
    display: block;
  }
}
.types__images {
  display: flex;
  justify-content: center;
  margin: 80px auto 0 auto;
  min-width: 0;
}
@media screen and (max-width: 700px) {
  .types__images {
    margin: 30px auto 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .types__images {
    display: none;
  }
}
.types__img {
  width: 100%;
  margin-right: 40px;
  min-width: 0;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .types__img {
    margin-top: 40px;
  }
}
.types__img:last-of-type {
  margin-right: 0;
}
.types__control {
  top: calc(107% - var(--size) / 2);
  left: 104px;
}
@media screen and (max-width: 1150px) {
  .types__control {
    left: 88px;
  }
}
@media screen and (max-width: 480px) {
  .types__control {
    display: none;
    left: 0;
  }
}
.types__control[data-slide=next] {
  background: url(../img/Vector1.svg) #EBEBEB no-repeat center;
}
@media screen and (max-width: 700px) {
  .types__control[data-slide=next] {
    max-width: 20px;
    max-height: 20px;
    background: url(../img/mini-arrow-r.svg) #EBEBEB no-repeat center;
    left: 40px;
    top: calc(110% - var(--size) / 2);
  }
}
@media screen and (max-width: 480px) {
  .types__control[data-slide=next] {
    position: static;
  }
}
.types__control[data-slide=next]:hover {
  opacity: 0.6;
}
.types__control[data-slide=prev] {
  background: url(../img/Vector.svg) #EBEBEB no-repeat center;
  left: 12px;
}
@media screen and (max-width: 1150px) {
  .types__control[data-slide=prev] {
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .types__control[data-slide=prev] {
    background: url(../img/mimi-arrow-l.svg) #EBEBEB no-repeat center;
    max-width: 20px;
    max-height: 20px;
    top: calc(110% - var(--size) / 2);
  }
}
@media screen and (max-width: 480px) {
  .types__control[data-slide=prev] {
    position: static;
  }
}
.types__control[data-slide=prev]:hover {
  opacity: 0.6;
}
.types__header {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1150px) {
  .types__header {
    margin-top: 100px;
  }
}
.types__control_on {
  display: none;
}
@media screen and (max-width: 480px) {
  .types__control_on {
    display: block;
  }
}
.types__controls {
  display: flex;
  min-width: 60px;
  justify-content: space-between;
}

.bikes {
  margin-top: 120px;
}
@media screen and (max-width: 700px) {
  .bikes {
    margin-top: 60px;
  }
}
.bikes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  margin-left: 120px;
}
@media screen and (max-width: 1150px) {
  .bikes__title {
    font-size: 50px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 882px) {
  .bikes__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .bikes__title {
    margin-left: 40px;
  }
}
@media screen and (max-width: 700px) {
  .bikes__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 587px) {
  .bikes__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 420px) {
  .bikes__title {
    margin-left: 18px;
  }
}
.bikes__icon {
  margin-left: 33px;
}
.bikes__icon:first-of-type {
  margin-left: 0;
}
.bikes__item {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
@media screen and (max-width: 1033px) {
  .bikes__item {
    margin-top: 80px;
  }
}
@media screen and (max-width: 700px) {
  .bikes__item {
    margin-top: 40px;
  }
}
.bikes__img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 380px;
  height: 380px;
  background: #F4F4F4;
  box-shadow: 0 -4px 20px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-bottom: 24px;
}
@media screen and (max-width: 1280px) {
  .bikes__img-cont {
    width: 340px;
    height: 340px;
  }
}
@media screen and (max-width: 1150px) {
  .bikes__img-cont {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1033px) {
  .bikes__img-cont {
    width: 260px;
    height: 260px;
  }
}
@media screen and (max-width: 882px) {
  .bikes__img-cont {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 700px) {
  .bikes__img-cont {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 587px) {
  .bikes__img-cont {
    width: 120px;
    height: 120px;
    margin-bottom: -3px;
  }
}
@media screen and (max-width: 480px) {
  .bikes__img-cont {
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-bottom: 10px;
  }
}
.bikes__img {
  border-radius: 20px;
  width: 340px;
  height: 340px;
  margin-left: 30px;
}
@media screen and (max-width: 1280px) {
  .bikes__img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .bikes__img {
    width: 260px;
    height: 260px;
  }
}
@media screen and (max-width: 1033px) {
  .bikes__img {
    width: 220px;
    height: 220px;
  }
}
@media screen and (max-width: 882px) {
  .bikes__img {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 700px) {
  .bikes__img {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 587px) {
  .bikes__img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .bikes__img {
    width: 95%;
    height: 95%;
    margin-top: 14px;
    margin-left: 10px;
  }
}
.bikes__img:first-of-type {
  margin-left: 0;
}
@media screen and (max-width: 480px) {
  .bikes__img:first-of-type {
    margin-left: 10px;
  }
}
.bikes__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
}
@media screen and (max-width: 1150px) {
  .bikes__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 882px) {
  .bikes__text {
    font-size: 11px;
  }
}
@media screen and (max-width: 587px) {
  .bikes__text {
    font-size: 7px;
  }
}
@media screen and (max-width: 480px) {
  .bikes__text {
    font-size: 15px;
    padding-bottom: 35px;
  }
}
.bikes__indicators {
  bottom: -90px;
}
.bikes__control {
  display: none;
}
.bikes__indicators {
  text-align: center;
  top: -33px;
  left: 859px;
  max-height: 40px;
  justify-content: flex-end;
  max-width: 500px;
  margin: 0;
}
@media screen and (max-width: 882px) {
  .bikes__indicators {
    left: 663px;
  }
}
@media screen and (max-width: 700px) {
  .bikes__indicators {
    left: 500px;
    top: -38px;
    max-width: 200px;
  }
}
@media screen and (max-width: 555px) {
  .bikes__indicators {
    left: 300px;
  }
}
@media screen and (max-width: 480px) {
  .bikes__indicators {
    top: 346px;
    left: 190px;
    max-width: 48px;
    max-height: 9px;
    left: 0;
    margin: auto;
  }
}
@media screen and (max-width: 420px) {
  .bikes__indicators {
    top: 309px;
  }
}
.bikes__indicator {
  background-image: none;
  text-indent: 9px;
  width: 80px;
  height: 35px;
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: right;
  color: #222222;
  box-sizing: border-box;
  display: block;
  padding-right: 55px;
}
@media screen and (max-width: 1150px) {
  .bikes__indicator {
    font-size: 16px;
  }
}
@media screen and (max-width: 882px) {
  .bikes__indicator {
    font-size: 12px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 555px) {
  .bikes__indicator {
    padding-right: 3px;
  }
}
@media screen and (max-width: 555px) {
  .bikes__indicator:last-of-type {
    padding-right: 43px;
  }
}
.bikes__indicator:hover {
  opacity: 0.6;
}
.bikes__links {
  display: none;
  z-index: -1000;
  position: absolute;
  margin-left: 40px;
  top: 30px;
  left: 0px;
  opacity: 0;
  padding: 0;
  width: 114px;
  background: #CFCFCF;
  box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5%;
  transition: 0.5s;
}
@media screen and (max-width: 480px) {
  .bikes__links {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .bikes__links {
    margin-left: 18px;
  }
}
.bikes__link {
  padding: 0;
  padding-left: 10px;
  padding-top: 8px;
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  cursor: pointer;
  height: 21px;
}
.bikes__link:hover {
  opacity: 0.8;
}
.bikes__links_open {
  opacity: 1;
  z-index: 1000;
}
.bikes__slide {
  position: relative;
}
.bikes__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  display: none;
  padding-left: 10px;
  border: none;
  text-align: start;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 114px;
  height: 30px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  margin-left: 40px;
}
@media screen and (max-width: 480px) {
  .bikes__button {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .bikes__button {
    margin-left: 18px;
  }
}
.bikes__slider-big {
  display: block;
}
@media screen and (max-width: 480px) {
  .bikes__slider-big {
    display: none;
  }
}
.bikes__slider-mini {
  display: none;
}
@media screen and (max-width: 480px) {
  .bikes__slider-mini {
    display: block;
  }
}
.bikes__slider-container {
  display: block;
}
@media screen and (max-width: 480px) {
  .bikes__slider-container {
    display: flex;
  }
}
.bikes__slider_active {
  opacity: 0;
  height: 0;
}
.bikes__arrow {
  padding-left: 38px;
}
.bikes__arrow_open {
  transform: rotate(180deg);
  padding-right: 38px;
  padding-left: 0;
}

.training {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 150px 0 120px auto;
}
@media screen and (max-width: 955px) {
  .training {
    margin: 80px 0 80px auto;
  }
}
@media screen and (max-width: 700px) {
  .training {
    margin: 60px 0 60px auto;
  }
}
@media screen and (max-width: 588px) {
  .training {
    margin: 40px 0 40px auto;
  }
}
.training__text-block {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .training__text-block {
    margin: 0 auto;
  }
}
.training__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
}
@media screen and (max-width: 1300px) {
  .training__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1140px) {
  .training__title {
    font-size: 26px;
    line-height: 35px;
  }
}
@media screen and (max-width: 934px) {
  .training__title {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 705px) {
  .training__title {
    font-size: 20px;
    line-height: 29px;
  }
}
@media screen and (max-width: 480px) {
  .training__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.training__subtitle {
  max-width: 460px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
  opacity: 0.7;
  margin-top: 50px;
}
@media screen and (max-width: 1300px) {
  .training__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 1140px) {
  .training__subtitle {
    font-size: 14px;
    line-height: 25px;
    max-width: 350px;
  }
}
@media screen and (max-width: 934px) {
  .training__subtitle {
    font-size: 12px;
    line-height: 20px;
  }
}
@media screen and (max-width: 874px) {
  .training__subtitle {
    margin-top: 20px;
  }
}
@media screen and (max-width: 705px) {
  .training__subtitle {
    font-size: 10px;
    line-height: 18px;
  }
}
@media screen and (max-width: 606px) {
  .training__subtitle {
    font-size: 8px;
    line-height: 16px;
  }
}
@media screen and (max-width: 504px) {
  .training__subtitle {
    line-height: 12px;
  }
}
@media screen and (max-width: 480px) {
  .training__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 40px;
  }
}
.training__app {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-right: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .training__app {
    font-size: 16px;
  }
}
@media screen and (max-width: 1140px) {
  .training__app {
    font-size: 14px;
  }
}
@media screen and (max-width: 934px) {
  .training__app {
    font-size: 12px;
  }
}
@media screen and (max-width: 705px) {
  .training__app {
    font-size: 10px;
  }
}
@media screen and (max-width: 480px) {
  .training__app {
    margin-top: 12px;
    font-size: 14px;
    line-height: 60px;
    margin-right: 20px;
  }
}
.training__app:hover {
  opacity: 0.75;
}
.training__apps {
  display: flex;
}
.training__img {
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .training__img {
    margin: auto;
    margin-top: 40px;
    display: none;
  }
}
.training__img_on {
  display: none;
}
@media screen and (max-width: 480px) {
  .training__img_on {
    display: block;
  }
}

.footer {
  background: #EFEFEF;
  position: relative;
}
.footer__title {
  background: #EFEFEF;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #151515;
  max-width: 229px;
  margin: 0 auto 50px 120px;
  padding-top: 80px;
}
@media screen and (max-width: 1150px) {
  .footer__title {
    font-size: 22px;
    padding-top: 40px;
    margin-bottom: 30px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .footer__title {
    margin-left: 40px;
  }
}
@media screen and (max-width: 720px) {
  .footer__title {
    font-size: 20px;
    line-height: 28px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 590px) {
  .footer__title {
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 420px) {
  .footer__title {
    margin-left: 18px;
  }
}
.footer__forms {
  background: #EFEFEF;
  position: relative;
}
.footer__form {
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #151515;
  width: 340px;
  height: 50px;
  cursor: pointer;
  background: #EFEFEF;
  padding: 0 20px;
  margin-left: 120px;
}
@media screen and (max-width: 1150px) {
  .footer__form {
    height: 40px;
    width: 310px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .footer__form {
    margin-left: 40px;
  }
}
@media screen and (max-width: 720px) {
  .footer__form {
    height: 40px;
    width: 240px;
  }
}
@media screen and (max-width: 590px) {
  .footer__form {
    height: 32px;
    width: 178px;
    font-size: 11px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 420px) {
  .footer__form {
    margin-left: 18px;
    height: 50px;
    width: 274px;
    padding: 0;
    padding-left: 10px;
  }
}
.footer__form::-webkit-input-placeholder {
  color: #222222;
  opacity: 0.7;
}
.footer__form::-moz-placeholder {
  color: #222222;
  opacity: 0.7;
}
.footer__form:-moz-placeholder {
  color: #222222;
  opacity: 0.7;
}
.footer__form :-ms-input-placeholder {
  color: #222222;
  opacity: 0.7;
}
.footer__form:hover::-webkit-input-placeholder {
  opacity: 1;
}
.footer__form:hover::-moz-placeholder {
  opacity: 1;
}
.footer__form:hover::-moz-placeholder {
  opacity: 1;
}
.footer__form:hover::-ms-input-placeholder {
  opacity: 1;
}
.footer__name {
  background: #EFEFEF;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #CFCFCF;
  margin: 100px auto 0 120px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1150px) {
  .footer__name {
    margin-top: 60px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .footer__name {
    margin-left: 40px;
  }
}
@media screen and (max-width: 720px) {
  .footer__name {
    margin-top: 40px;
  }
}
@media screen and (max-width: 590px) {
  .footer__name {
    font-size: 12px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 420px) {
  .footer__name {
    margin-left: 18px;
  }
}
.footer__switch-box {
  background: #EFEFEF;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 80px;
  right: 120px;
  width: 140px;
}
@media screen and (max-width: 1000px) {
  .footer__switch-box {
    bottom: 40px;
    right: 60px;
  }
}
@media screen and (max-width: 720px) {
  .footer__switch-box {
    width: 104px;
  }
}
@media screen and (max-width: 480px) {
  .footer__switch-box {
    display: none;
    width: 125px;
  }
}
.footer__switch-box_on {
  display: none;
}
@media screen and (max-width: 480px) {
  .footer__switch-box_on {
    display: flex;
    position: static;
    margin: auto;
    margin-top: 318px;
    background: none;
  }
}
.footer__switch-btn {
  display: inline-block;
  width: 44px; /* ширина */
  height: 24px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: #545454; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
@media screen and (max-width: 720px) {
  .footer__switch-btn {
    width: 39px;
    height: 19px;
  }
}
@media screen and (max-width: 480px) {
  .footer__switch-btn {
    width: 44px;
    height: 24px;
  }
}
.footer__switch-btn::after {
  content: "";
  height: 20px; /* высота кнопки */
  width: 20px; /* ширина кнопки */
  border-radius: 17px;
  background: #24B47E; /* цвет кнопки */
  top: 2px; /* положение кнопки по вертикали относительно основы */
  left: 21px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 720px) {
  .footer__switch-btn::after {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 480px) {
  .footer__switch-btn::after {
    width: 20px;
    height: 20px;
  }
}
.footer__switch-on {
  background: #FFFFFF;
}
.footer__switch-on::after {
  left: 2px;
}
.footer__icon {
  background: #EFEFEF;
}
@media screen and (max-width: 720px) {
  .footer__icon {
    width: 20px;
  }
}
@media screen and (max-width: 480px) {
  .footer__icon {
    background: none;
    width: 26px;
  }
}
.footer__form-button {
  display: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #151515;
  border: none;
  background: #EFEFEF;
  position: absolute;
  top: 12px;
  left: 444px;
  cursor: pointer;
  z-index: 20;
}
@media screen and (max-width: 1150px) {
  .footer__form-button {
    left: 356px;
    top: 9px;
  }
}
@media screen and (max-width: 720px) {
  .footer__form-button {
    left: 289px;
    top: 9px;
  }
}
@media screen and (max-width: 590px) {
  .footer__form-button {
    left: 210px;
    top: 2px;
    font-size: 10px;
  }
}
@media screen and (max-width: 420px) {
  .footer__form-button {
    left: 266px;
    top: 9px;
    font-size: 14px;
  }
}
.footer__form-button_on {
  display: block;
}
.footer input:focus::-moz-placeholder {
  color: transparent;
}
.footer input:focus:-ms-input-placeholder {
  color: transparent;
}
.footer input:focus::placeholder {
  color: transparent;
}

.footer_darck {
  background: #2F2F2F;
}
.footer_darck .footer__form-button {
  background: #2F2F2F;
}
.footer_darck .footer__icon {
  background: #2F2F2F;
}
.footer_darck .footer__switch-box {
  background: #2F2F2F;
}
.footer_darck .footer__name {
  background: #2F2F2F;
}
.footer_darck .footer__form {
  background: #2F2F2F;
}
.footer_darck .footer__forms {
  background: #2F2F2F;
}
.footer_darck .footer__title {
  background: #2F2F2F;
}/*# sourceMappingURL=style.css.map */