$size_xl : 1440px;
$main_color: #151515;
$inter : 'Inter';
$opacity : .75;
$transition: .3s;
*{
  background: #F4F4F4;
  color: $main_color;
  text-decoration: none;
  margin: 0;
}
.page{
  max-width: $size_xl;
  margin: 0 auto;
  &__padding{
    max-width: $size_xl;
    padding-left: 120px;
    padding-right: 120px;
    @media screen and (max-width:1150px){
      padding-left: 60px;
      padding-right: 60px;
    }
    @media screen and (max-width:768px){
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &__position{
    position: sticky;
    top: 0;
    z-index: 100;
  }
}
.header{
  display: flex;
  flex-direction: row-reverse;
  height: 74px;
  @media screen and (max-width:768px){
    height: 60px;
  }
  &__list{
    min-width: 400px;
    display: flex;
    align-items: center;
    @media screen and (max-width:1000px){
      min-width: 340px
    }
    @media screen and (max-width:590px){
      min-width: 290px
    }
  }
  &__link{
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-right: 34px;
    cursor: pointer;
    transition: $transition;
    @media screen and (max-width:1000px){
      font-size: 12px;
      margin-right: 30px;
    }
    @media screen and (max-width:590px){
      font-size: 10px;
    }
  }
  &__link:last-of-type{
    margin-right: 0;
  }
  &__link:hover{
    opacity: $opacity;
  }
}
.face{
  max-height: 736px;
  position: relative;
  &__title{
    font-family: $inter;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    max-width: 304px;
    margin-top: 80px;
    @media screen and (max-width:1150px){
      font-size: 50px;
    }
    @media screen and (max-width:1000px){
      font-size: 42px;
      max-width: 250px;
      margin-top: 50px;
    }
    @media screen and (max-width:768px){
      font-size: 40px;
      max-width: 220px;
      line-height: 52px;
    }
    @media screen and (max-width:713px){
      font-size: 35px;
      max-width: 200px;
      line-height: 48px;
    }
    @media screen and (max-width:590px){
      font-size: 28px;
      max-width: 173px;
      line-height: 35px;
      margin-top: 14px;
    }
  }
  &__subtitle{
    font-family: $inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    max-width: 460px;
    margin-top: 50px;
    @media screen and (max-width:1150px){
      font-size: 16px;
      max-width: 400px;
    }
    @media screen and (max-width:1000px){
      font-size: 14px;
      max-width: 283px;
      margin-top: 30px;
    }
    @media screen and (max-width:768px){
      font-size: 12px;
      max-width: 283px;
      line-height: 25px;
    }
    @media screen and (max-width:713px){
      font-size: 10px;
      max-width: 250px;
      line-height: 20px;
    }
    @media screen and (max-width:590px){
      font-size: 8px;
      max-width: 173px;
      line-height: 13px;
      margin-top: 10px;
    }
  }
  &__button{
    padding: 0;
    border: none;
    font: inherit;
    background: #24B47E;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px; 
    font-family: $inter;
    width: 180px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    color: white;
    background-image: linear-gradient(#319E75, #319E75);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
    cursor: pointer;
    z-index: 10;
    @media screen and (max-width:1150px){
    }
    @media screen and (max-width:1000px){
      margin-top: 30px;
    }
    @media screen and (max-width:713px){
      width: 150px;
      height: 40px;
      font-size: 12px;
    }
    @media screen and (max-width:590px){
      width: 120px;
      height: 30px;
      font-size: 10px;
      margin-top: 20px;
    }
  }
  &__button:hover{
    background-size: 100% 100%;
  }
  &__features{
    display: flex;
    position: absolute;
    top: 370px;
    @media screen and (max-width:713px){
      top: 278px
    }
    @media screen and (max-width:590px){
      top: 191px
    }
  }
  &__text{
    font-family: $inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin:167px 30px 0 0;
    @media screen and (max-width:1150px){
      font-size: 16px;
    }
    @media screen and (max-width:1000px){
      margin: 55px 20px 0 0;
      font-size: 13px;
    }
    @media screen and (max-width:713px){
      font-size: 11px;
    }
    @media screen and (max-width:590px){
      font-size: 8px;
    }
  }
  &__line{
    margin-top: 176px;
    border-bottom: 3px;
    width: 132px;
    background-color: #D7D4D4;
    height: 2px;
    @media screen and (max-width:1150px){
      width: 125px;
    }
    @media screen and (max-width:1000px){
      margin-top: 65px;
      width: 90px;
    }
    @media screen and (max-width:590px){
      width: 70px;
    }
  }
  &__img{
    position: absolute;
    top: -68px;
    right: -120px;
    padding-top: 20px;
    @media screen and (max-width:1150px){
      max-width: 510px;
      max-height: 736px;
      right: -60px;
    }
    @media screen and (max-width:1000px){
      max-width: 410px;
      max-height: 636px;
      top: -50px;
    }
    @media screen and (max-width:769px){
      right: -40px;
      max-width: 380px;
      max-height: 610px;
    }
    @media screen and (max-width:713px){
      max-width: 316px;
    }
    @media screen and (max-width:590px){
      max-width: 250px;
      padding-top: 38px;
    }
}
  &__sticky{
    max-width: 440px;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    bottom: 60%;
    background: #F4F4F4;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    z-index: 10;
    @media screen and (max-width:1440px){
      bottom: 38%;
    }
    @media screen and (max-width:1150px){
      max-width: 290px;
      bottom: 40%;
    }
    @media screen and (max-width:1000px){
      max-width: 220px;
      bottom: 56%;
    }
    @media screen and (max-width:648px){
      max-width: 174px;
      bottom: 62%;
    }
    @media screen and (max-width:590px){
      bottom: 72%;
    }
  }
  &__sticky-img{
    border-radius: 20px;
    @media screen and (max-width:1150px){
      max-width: 340px;
      max-height: 164px;
    }
    @media screen and (max-width:1000px){
      max-width: 220px;
      max-height: 125px;
    }
    @media screen and (max-width:648px){
      max-width: 129px;
    }
  }
}
.drive{
  &__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200.5px, 1fr));
    margin: 250px auto 60px 0;
    @media screen and (max-width:1150px){
      margin: 200px auto 60px 0;
    }
    @media screen and (max-width:1000px){
      margin:122px auto 60px 0;
    }
    @media screen and (max-width:713px){
      margin: 68px auto 0 0;
    }
  }
  &__img{
    max-width: 100%;
    @media screen and (max-width:480px){
      margin: auto;
    }
  }
  &__text-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin-left: 80px;
    @media screen and (max-width:1145px){
      margin-left: 50px;
    }
    @media screen and (max-width:934px){
      margin-left: 0;
      max-width: 350px;
      margin-left: 40px;
    }
    @media screen and (max-width:480px){
      margin: auto;
      margin-top: 10px;
      max-width: 100%;
    }

  }
  &__title{
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    max-width: 470px;
    @media screen and (max-width:1300px){
      font-size: 30px;
    }
    @media screen and (max-width:1140px){
      font-size: 26px;
      line-height: 35px;
    }
    @media screen and (max-width:934px){
      font-size: 24px;
      line-height: 32px;
    }
    @media screen and (max-width:820px){
      font-size:18px;
      line-height: 25px;
    }
    @media screen and (max-width:623px){
      font-size:15px;
      line-height: 22px;
    }
    @media screen and (max-width:555px){
      font-size:12px;
      line-height: 18px;
    }
    @media screen and (max-width:480px){

    }
  }
  &__name-block{
    @media screen and (max-width:480px){
      margin-top: 20px;
    }
  }
  &__name{
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    @media screen and (max-width:1300px){
      font-size: 18px;
    }
    @media screen and (max-width:1140px){
      font-size: 16px;
    }
    @media sceen and (max-width:934px){
      font-size: 14px;
    }
    @media screen and (max-width:820px){
      font-size: 12px;
      line-height: 15px;
    }
    @media screen and (max-width:480px){
      font-size: 9px;
    }
  }
  &__prof{
    font-family: $inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    @media screen and (max-width:1300px){
      font-size: 14px;
    }
    @media screen and (max-width:1140px){
      font-size: 12px;
    }
    @media screen and (max-width:934px){
      font-size: 10px;
    }
    @media screen and (max-width:480px){
      font-size: 8px;
      line-height: 20px;
    }
  }
}
.types{
  display: flex;
  &__title{
    font-family: $inter;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    //margin-top: 60px;
    @media screen and (max-width:1150px){
      font-size: 50px;
     // margin-top: 30px;
    }
    @media screen and (max-width:700px){
      font-size: 35px;
    }
    @media screen and (max-width:480px){
      font-size: 30px;
    }
  }
  &__subtitle{
    margin-top: 50px;
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    @media screen and (max-width:1150px){
      font-size: 16px;
    }
    @media screen and (max-width:700px){
      margin-top: 20px;
    }
    @media screen and (max-width:480px){
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__img_on{
    display: none;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__images{
    display: flex;
    justify-content:center;
    margin: 80px auto 0 auto;
    min-width:0;
    @media screen and (max-width:700px){
      margin: 30px auto 0 auto;
    }
    @media screen and (max-width:480px){
      display: none;
    }
  }

  &__img{
    width: 100%;
    margin-right: 40px;
    min-width:0;
    background-repeat: no-repeat;
   /*  @media screen and (max-width:1438px){
      max-width: 543px;
    }
    @media screen and (max-width:1364px){
      max-width: 507px;
    }
    @media screen and (max-width:1292px){
      max-width: 442px;
    }
    @media screen and (max-width:1036px){
      max-width: 370px;
    }
    @media screen and (max-width:802px){
      max-width: 320px;
    } */
  }
  &__img:first-of-type{
    
  }
  &__img:last-of-type{
    margin-right: 0;
  }
  &__control{
    top: calc(107% - (var(--size) / 2));
    left:104px;
    @media screen and (max-width:1150px){
      left: 88px;
    }
    @media screen and (max-width:480px){
      display: none;
      left: 0;
    }
  }
  &__control[data-slide='next'] {
    background: url(../img/Vector1.svg) #EBEBEB no-repeat center;
    @media screen and (max-width:700px){
      max-width: 20px;
      max-height: 20px;
      background: url(../img/mini-arrow-r.svg) #EBEBEB no-repeat center;
      left: 40px;
      top: calc(110% - var(--size) / 2);
    }
    @media screen and (max-width:480px){
      position: static;
    }
  }
  &__control[data-slide='next']:hover {
    opacity: .6;
  }
  &__control[data-slide='prev'] {
    background: url(../img/Vector.svg) #EBEBEB no-repeat center;
    left:12px;
    @media screen and (max-width:1150px){
      left: 0;
    }
    @media screen and (max-width:700px){
      background: url(../img/mimi-arrow-l.svg) #EBEBEB no-repeat center;
      max-width: 20px;
      max-height: 20px;
      top: calc(110% - var(--size) / 2);
    }
    @media screen and (max-width:480px){
      position: static;
    }
  }
  &__control[data-slide='prev']:hover {
    opacity: .6;
  }
  &__header{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:1150px){
      margin-top: 30px;
    }
  }
  &__control_on{
    display: none;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__controls{
    display: flex;
    min-width: 60px;
    justify-content: space-between;
  }
}
.bikes{
  margin-top: 120px;
  @media screen and (max-width:700px){
    margin-top: 60px;
  }
  &__title{
    font-family: $inter;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    margin-left: 120px;
    @media screen and (max-width:1150px){
      font-size: 50px;
      margin-left: 60px;
    }
    @media screen and (max-width:882px){
      font-size: 40px;
    }
    @media screen and (max-width:768px){
      margin-left: 40px;
    }
    @media screen and (max-width:700px){
      font-size: 30px;
    }
    @media screen and (max-width:587px){
      font-size: 28px;
    }
  }
  &__icon{
    margin-left: 33px;
  }
  &__icon:first-of-type{
    margin-left: 0;
  }
  &__item{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    @media screen and (max-width:1033px){
      margin-top: 80px;
    }
    @media screen and (max-width:700px){
      margin-top: 40px;
    }
  }
  &__img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 380px;
    height: 380px;
    background: #F4F4F4;
    box-shadow: 0 -4px 20px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    margin-bottom: 24px;
    @media screen and (max-width:1280px){
      width: 340px;
      height: 340px;
    }
    @media screen and (max-width:1150px){
      width: 300px;
      height: 300px;
      margin-bottom: 16px;
    }
    @media screen and (max-width:1033px){
      width: 260px;
      height: 260px;
    }
    @media screen and (max-width:882px){
      width: 200px;
      height: 200px;
      margin-bottom: 12px;
    }
    @media screen and (max-width:700px){
      width: 160px;
      height: 160px;
    }
    @media screen and (max-width:587px){
      width: 120px;
      height: 120px;
      margin-bottom: -3px;
    }
    @media screen and (max-width:480px){
      width: 100%;
      height: 90%;
      margin-bottom: 10px;
    }
  }
  &__img{
    border-radius: 20px;
    width: 340px;
    height: 340px;
    margin-left: 30px;
    @media screen and (max-width:1280px){
      width: 300px;
      height: 300px;
    }
    @media screen and (max-width:1150px){
      width: 260px;
      height: 260px;
    }
    @media screen and (max-width:1033px){
      width: 220px;
      height: 220px;
    }
    @media screen and (max-width:882px){
      width: 160px;
      height: 160px;
    }
    @media screen and (max-width:700px){
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width:587px){
      width: 80px;
      height: 80px;
    }
    @media screen and (max-width:480px){
      width: 95%;
      height: 95%;
    }
  }
  &__img:first-of-type{
    margin-left: 0;
  }
  &__text{
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #151515;
    @media screen and (max-width:1150px){
      font-size: 16px;
    }
    @media screen and (max-width:882px){
      font-size: 11px;
    }
    @media screen and (max-width:587px){
      font-size: 7px;
    }
    @media screen and (max-width:480px){
      font-size: 15px;
    }
  }
  &__indicators{
    bottom: -90px;
  }
  &__control{
    display: none;
  }
  &__indicators{
    text-align: center;
    top: -33px;
    left: 859px;
    max-height: 40px;
    justify-content: flex-end;
    max-width: 500px;
    margin: 0;
    @media screen and (max-width:882px){
      left: 663px;
    }
    @media screen and (max-width:700px){
      left: 500px;
      top: -38px;
      max-width: 200px;
    }
    @media screen and (max-width:555px){
      left: 300px;
    }
    @media screen and (max-width:480px){
      top: 420px;
      left: 190px;
      max-width: 81px;
    }
  }
  &__indicator{ 
    background-image: none;
    text-indent: 9px;
    width: 80px;
    height: 35px;
    font-family: $inter;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #222222;
    box-sizing: border-box;
    display: block;
    padding-right: 55px;
    @media screen and (max-width:1150px){
      font-size: 16px;
    }
    @media screen and (max-width:882px){
      font-size: 12px;
      padding-right: 60px;
    }
    @media screen and (max-width:555px){
      padding-right: 3px;
    }
    @media screen and (max-width:480px){
     
    }
  }
  &__indicator:last-of-type{
    @media screen and (max-width:555px){
      padding-right: 43px;
    }
  }
  &__indicator:hover{
    opacity: .6;
  }
  &__box{
    display: none;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    width: 114px;
    height: 30px;
    margin-left: 40px;
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__links{
    display: none;
    z-index: -1000;
    position: absolute;
    margin-left: 40px;
    top: 30px;
    left: 0px;
    opacity: 0;
    padding: 0;
    width: 114px;
    background: #F4F4F4;
    box-shadow: 0 -20px 20px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
    transition: .5s;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__link{
    padding: 0;
    padding-left: 10px;
    padding-top: 5px;
    list-style: none;
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    background: #F4F4F4;
  }
  &__link:hover{
    opacity: .8;
  }
  &__links_open{
    opacity: 1;
    z-index: 1000;
  }
  &__slide{
    position: relative;
  }
  &__button{
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    display: none;
    padding-left: 10px;
    border: none;
    text-align: start;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 114px;
    height: 30px;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    margin-left: 40px;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__slider-big{
    display: block;
    @media screen and (max-width:480px){
      display: none;
    }
  }
  &__slider-mini{
    display: none;
    @media screen and (max-width:480px){
      display: block;
    }
  }
  &__slider-container{
    display: block;
    @media screen and (max-width:480px){
      display: flex;
    }
  }
  &__item_active{
    display: none;
  }
}
.training{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 150px 0 120px auto;
  @media screen and (max-width:955px){
    margin: 80px 0 80px auto;
  }
  @media screen and (max-width:700px){
    margin: 60px 0 60px auto;
  }
  @media screen and (max-width:588px){
    margin: 40px 0 40px auto;
  }
  &__text-block{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 480px){
      margin: 0 auto;
    }
  }
  &__title{
    font-family: $inter;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    @media screen and (max-width:1300px){
      font-size: 30px;
    }
    @media screen and (max-width:1140px){
      font-size: 26px;
      line-height: 35px;
    }
    @media screen and (max-width:934px){
      font-size: 24px;
      line-height: 32px;
    }
    @media screen and (max-width: 705px){
      font-size: 20px;
      line-height: 29px;
    }
    @media screen and (max-width: 480px){
      font-size: 18px;
    }
  }
  &__subtitle{
    max-width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    margin-top: 50px;
    @media screen and (max-width:1300px){
      font-size: 16px;
    }
    @media screen and (max-width:1140px){
      font-size: 14px;
      line-height: 25px;
      max-width: 350px;
    }
    @media screen and (max-width:934px){
      font-size: 12px;
      line-height: 20px;
    }
    @media screen and (max-width: 874px){
      margin-top: 20px;
    }
    @media screen and (max-width: 705px){
      font-size: 10px;
      line-height: 18px;
    }
    @media screen and (max-width: 606px){
      font-size: 8px;
      line-height: 16px;
    }
    @media screen and (max-width: 504px){
      line-height: 12px;
    }
  }
  &__app{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    margin-right: 30px;
    cursor: pointer;
    @media screen and (max-width:1300px){
      font-size: 16px;
    }
    @media screen and (max-width:1140px){
      font-size: 14px;
    }
    @media screen and (max-width:934px){
      font-size: 12px;
    }
    @media screen and (max-width: 705px){
      font-size: 10px;
    }
    @media screen and (max-width: 480px){
      margin-top: 12px;
      font-size: 8px;
      margin-right: 20px;
    }
  }
  &__app:hover{
    opacity: 0.75;
  }
  &__apps{
    display: flex;
  }
  &__img{
    max-width: 100%;
    @media screen and (max-width: 480px){
      margin: auto;
      margin-top: 12px;
      display: none;
    }
  }
  &__img_on{
    display: none;
    @media screen and (max-width: 480px){
      display: block;
    }
  }
}
.footer{
  background: #EFEFEF;
  position: relative;
  &__title{
    background: #EFEFEF;
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #151515;
    max-width: 229px;
    margin: 0 auto 50px 120px;
    padding-top: 80px;
    @media screen and (max-width:1150px){
      font-size: 22px;
      padding-top: 40px;
      margin-bottom: 30px;
      margin-left: 60px;
    }
    @media screen and (max-width:768px){
      margin-left: 40px;
    }
    @media screen and (max-width:720px){
      font-size: 20px;
      line-height: 28px;
      padding-top: 30px;
    }
    @media screen and (max-width:590px){
      font-size: 18px;
      line-height: 25px;
      padding-top: 20px;
    }
  }
  &__forms{
    background: #EFEFEF;
    position: relative;
  }
  &__form{
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    font-family: $inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: #151515;
    width: 340px;
    height: 50px;
    cursor: pointer;
    background: #EFEFEF;
    padding: 0 20px;
    margin-left: 120px;
    @media screen and (max-width:1150px){
      height: 40px;
      width: 310px;
      margin-left: 60px;
    }
    @media screen and (max-width:768px){
      margin-left: 40px;
    }
    @media screen and (max-width:720px){
      height: 40px;
      width: 240px;
    }
    @media screen and (max-width:590px){
      height:32px;
      width: 178px;
      font-size: 11px;
      padding: 0 10px;
    }
  }
  &__form::-webkit-input-placeholder {color:  #222222;  opacity: 0.7;}
  &__form::-moz-placeholder          {color:  #222222;  opacity: 0.7;}
  &__form:-moz-placeholder           {color:  #222222;  opacity: 0.7;}
  &__form :-ms-input-placeholder      {color:  #222222;  opacity: 0.7;}

  &__form:hover::-webkit-input-placeholder {  opacity: 1;}
  &__form:hover::-moz-placeholder          {  opacity: 1;}
  &__form:hover::-moz-placeholder           {  opacity: 1;}
  &__form:hover::-ms-input-placeholder      { opacity: 1;}

  &__name{
    background: #EFEFEF;
    font-family: $inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #CFCFCF;
    margin: 100px auto 0 120px;
    padding-bottom: 60px;
    @media screen and (max-width:1150px){
      margin-top: 60px;
      margin-left: 60px;
    }
    @media screen and (max-width:768px){
      margin-left: 40px;
    }
    @media screen and (max-width:720px){
      margin-top: 40px;
    }
    @media screen and (max-width:590px){
      font-size: 12px;
      padding-bottom: 45px;
    }
  }

  &__switch-box{
    background: #EFEFEF;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 80px;
    right: 120px;
    width: 140px;
    @media screen and (max-width:1000px){
      bottom: 40px;
      right: 60px;
    }
    @media screen and (max-width:720px){
      width: 104px;
    }
  }

  &__switch-btn {
    display: inline-block;
    width: 44px; /* ширина */
    height: 24px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #545454; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
    @media screen and (max-width:720px){
      width: 43px;
      height: 19px
    }
  }
  &__switch-btn::after {
    content: "";
    height: 20px; /* высота кнопки */
    width: 20px; /* ширина кнопки */
    border-radius: 17px;
    background: #24B47E;/* цвет кнопки */
    top: 2px; /* положение кнопки по вертикали относительно основы */
    left: 21px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
    @media screen and (max-width:720px){
      width: 16px;
      height: 16px;

    }
  }
  &__switch-on {
    background: #FFFFFF;;
  }
  &__switch-on::after {
    left: 2px;
  }
  &__icon{
    background: #EFEFEF;
    @media screen and (max-width:720px){
      width: 20px;
    }
  }
  &__form-button{
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    color: #151515;
    border: none;
    background: #EFEFEF;
    position: absolute;
    top:12px;
    left: 444px;
    cursor: pointer;
    z-index: 20;
    @media screen and (max-width:1150px){
      left: 356px;
      top: 9px;
    }
    @media screen and (max-width:720px){
      left: 289px;
      top: 9px;
    }
    @media screen and (max-width:590px){
      left: 228px;
      top: 2px;
      font-size: 10px;
    }
  }
  &__form-button_on{
    display: block;
  }
  input:focus::placeholder {
    color: transparent;
  }
}
